<!-- pre -->
<%- include('../general/pre') -%>

<!-- custom CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/single.css">

<title>HeribertoGM - <%- data.titleEN %></title>
</head>
<body>

<!-- Barra de navegacion -->
<%- include('./navbarEN') -%>

<!-- Dentro -->
<section>
	<div class="container" id="gencont">
		<div class="row">
			<div class="col-sm-7">
				<div class="d-flex align-items-center h-100">
					<div>
						<h1><%- data.titleEN %></h1>
						<h5 class="text-muted"><%- data.tags[0].in %></h5>
						<p class="text-muted"><%- data.infoEN %></p>
						<a href="<%- data.repo %>" class="btn btn-secondary">Go to Github Repo</a>
					</div>
				</div>
			</div>
			<div class="col-sm-5 text-center">
				<img src="<%- data.img %>" class="img-fluid">
			</div>
		</div>
		<hr>
		<div class="row">
			<div id="imgs" class="w-100 text-center">
				<% for(let i of data.showcase){ %>
					<img class="imagen" src="<%- i %>">
				<% } %>
			</div>
		</div>
	</div>
</section>

<!-- footer -->
<%- include('./footerEN') -%>

<!-- post -->
<%- include('../general/post') -%>