<!-- pre -->
<%- include('../general/pre') -%>

<!-- custom CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/landing.css">

<title>HeribertoGM - Hogar</title>
</head>
<body>

<!-- Barra de navegacion -->
<%- include('./navbarES') -%>
	
<!-- Seccion primera -->
<section>
	<div class="d-flex justify-content-center align-items-center" id="sec1">
		<div id="header">
			<h1 class="display-1">Hola, soy Heriberto</h1>
			<h1 class="text-muted" id="subtitle"> y me gusta programar en <span class="txt-rotate" data-period="2000" data-rotate='[ "Python.", "Java.", "C++.", "C.", "C#.", "HTML.", "CSS.", "JavaScript." ]'></span></h1>
		</div>
	</div>
</section>

<hr>
<!-- Seccion Proyectos -->
<section id="sec2">
	<h1 class="display-4" id="titulProyect">Proyectos</h1>
	<br>
	<div class="container">
		<% let objs = data.filter((i) => { return i.flag != -1}); %>
		<div class="row">
			<div class="col h-100">
				<a href="/proyects/<%- objs[0].id %>">
					<img class="img-fluid h-100" src="<%- objs[0].img %>" id="scale-up-tl">
					<h1 id="topizq"><%- objs[0].titleES %>-<%- objs[0].id %></h1>
					<h1 id=tl-text><%- objs[0].titleES %></h1>
					<h3 class="text-muted"  id="tl-text">
						<% for(let i of objs[0].tags){ %>
							<%- i.in %> 
						<% } %>
					</h3>
					<h5 class="text-break" id="tl-text"><%- objs[0].infoES %></h5>
				</a>
			</div>
			<div class="col h-100">
				<a href="/proyects/<%- objs[1].id %>">
					<img class="img-fluid h-100" src="<%- objs[1].img %>" id="scale-up-tr">
					<h1 class="text-right" id="topder"><%- objs[1].titleES %>-<%- objs[1].id %></h1>
					<h1 class="text-right" id=tr-text><%- objs[1].titleES %></h1>
					<h3 class="text-right text-muted"  id="tr-text">
						<% for(let i of objs[1].tags){ %>
							<%- i.in %> 
						<% } %>
					</h3>
					<h5 class="text-right" id="tr-text"><%- objs[1].infoES %></h5>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col h-100">
				<a href="/proyects/<%- objs[2].id %>">
					<img class="img-fluid h-100" src="<%- objs[2].img %>" id="scale-up-bl">
					<h1 id="botizq"><%- objs[2].titleES %>-<%- objs[2].id %></h1>
					<h1 id=bl-text><%- objs[2].titleES %></h1>
					<h3 class="text-muted"  id="bl-text">
						<% for(let i of objs[2].tags){ %>
							<%- i.in %> 
						<% } %>
					</h3>
					<h5 class="text-break" id="bl-text"><%- objs[2].infoES %></h5>
				</a>
			</div>
			<div class="col h-100">
				<a href="/proyects/<%- objs[3].id %>">
					<img class="img-fluid h-100" src="<%- objs[3].img %>" id="scale-up-br">
					<h1 class="text-right" id="botder"><%- objs[3].titleES %>-<%- objs[3].id %></h1>
					<h1 class="text-right" id=br-text><%- objs[3].titleES %></h1>
					<h3 class="text-right text-muted"  id="br-text">
						<% for(let i of objs[3].tags){ %>
							<%- i.in %> 
						<% } %>
					</h3>
					<h5 class="text-right text-break" id="br-text"><%- objs[3].infoES %></h5>
				</a>
			</div>
		</div>
	</div>
</section>

<hr>

<!-- Seccion contactos -->
<section class="d-flex justify-content-center align-items-center" id="sec3">
	<div class="container h-75 pt-3" id="cont3"> <!-- cubo gris -->
		<div class="d-flex justify-content-center row-auto">
			<h1>Contactame</h1>
		</div>
		<div class="row h-75 p-4">
			<a class="col classContact" href="#">
				<div class="d-flex justify-content-center align-items-center h-100">
					<div class="p-4">
						<img src="/static/images/linkedin.svg" width="120" height="120">
						<h3>LinkedIn</h3>
					</div>
				</div>
			</a>
			<a class="col classContact" href="https://github.com/HeribertoGM">
				<div class="d-flex justify-content-center align-items-center h-100">
					<div class="p-4">
						<img src="/static/images/github.svg" width="120" height="120">
						<h3>Github</h3>
					</div>
				</div>
			</a>
			<a class="col classContact" onclick="copyToClipboard()" onmouseenter="appearMail()" onmouseleave="disappearMail()">
				<div class="d-flex justify-content-center align-items-center h-100">
					<div class="p-4">
						<img src="/static/images/mail.svg" width="120" height="120">
						<h3 id="mail">Mail</h3>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>

<!-- footer -->
<%- include('./footerES') -%>

<!-- custom js -->
<script type="text/javascript" src="/static/js/carousel.js"></script>
<script type="text/javascript" src="/static/js/mail.js"></script>

<!-- post -->
<%- include('../general/post') -%>